.Opa{

background-color: rgb(64, 204, 204);
background-image: url(fondo.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-position: top;

}
